csharp/Solutions/bin
csharp/Solutions/obj
csharp/Tests/bin
csharp/Tests/obj

java/target/
java/!.mvn/wrapper/maven-wrapper.jar
java/!**/src/main/**/target/
java/!**/src/test/**/target/

golang/.vscode

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/
