.vscode

csharp/Solutions/bin
csharp/Solutions/obj
csharp/Tests/bin
csharp/Tests/obj

java/target/
java/!.mvn/wrapper/maven-wrapper.jar
java/!**/src/main/**/target/
java/!**/src/test/**/target/
java/
java/### IntelliJ IDEA ###
java/.idea
java/
java/### VS Code ###
java/.vscode/